@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');




/** navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 10;
}

html{
    scroll-behavior: smooth;
}

.navbar.sticky {

    padding: 15px 0;
    background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
    /*  background-color: rgba(0, 0, 0, .3);*/
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

}

.max-width {
    max-width: 100%;
    padding: 0 70px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #ffff00;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a {
    color: #ffff00;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #ffff00;
}


/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/** home section styling */


/*.home_img {
    !*background: url("../assets/bg.png") no-repeat center;*!
    width: 50%;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 15%;
    left: 10%;
}*/

